<footer class="">
  <div class="py-4 bg-model-gray-800 mt-7">
    <div class="max-w-[1070px] mx-auto min-w-[960px]">
      <div class="flex justify-between">
        <div class="flex">
          <div class="mr-14">
            <a href="index.html"><img src="assets/images/logo.png" /></a>
          </div>
          <div class="text-sm leading-7 text-white mr-14">
            <h5 class="font-bold">幫助</h5>
            <ul>
              <li><a href="#">問與答</a></li>
              <li><a href="#">訊息公告</a></li>
              <li><a href="#">聯絡客服</a></li>
            </ul>
          </div>
          <div class="text-sm leading-7 text-white mr-14">
            <h5 class="font-bold">政策</h5>
            <ul>
              <li><a href="#">大宗採購</a></li>
              <li><a href="#">服務條款</a></li>
              <li><a href="#">退貨政策</a></li>
              <li><a href="#">會員制度</a></li>
            </ul>
          </div>
          <div class="text-sm leading-7 text-white mr-14">
            <h5 class="font-bold">關於我們</h5>
            <ul>
              <li><a href="#">媒體報導</a></li>
              <li><a href="#">人才招募</a></li>
            </ul>
          </div>
        </div>
        <div class="text-white">
          <h5 class="pb-2">追蹤我們</h5>
          <ul class="flex">
            <li class="pr-1">
              <a
                href="#"
                class="relative block w-8 h-8 border rounded-full border-model-orange"
              >
                <img
                  src="assets/images/social/fb.svg"
                  class="absolute top-[50%] left-[50%] -translate-x-2/4 -translate-y-2/4"
                />
              </a>
            </li>
            <li class="pr-1">
              <a
                href="#"
                class="relative block w-8 h-8 border rounded-full border-model-orange"
              >
                <img
                  src="assets/images/social/tw.svg"
                  class="absolute top-[50%] left-[50%] -translate-x-2/4 -translate-y-2/4"
                />
              </a>
            </li>

            <li class="pr-1">
              <a
                href="#"
                class="relative block w-8 h-8 border rounded-full border-model-orange"
                ><img
                  src="assets/images/social/yt.svg"
                  class="absolute top-[50%] left-[50%] -translate-x-2/4 -translate-y-2/4"
              /></a>
            </li>
            <li class="pr-1">
              <a
                href="#"
                class="relative block w-8 h-8 border rounded-full border-model-orange"
                ><img
                  src="assets/images/social/ig.svg"
                  class="absolute top-[50%] left-[50%] -translate-x-2/4 -translate-y-2/4"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-1 text-sm text-center text-white bg-model-blue">
    Copyright ©2023. All Rights Reserved.
  </div>
</footer>
